{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-homepage">


<div class="left-nav">
        <header>
            {{widget('companyname', 'sidecompanyname', {"business": "profile"})|raw}}
             {{widget('content', 'sideheadercontent', {"content":"<p>lorem</p>"})|raw}}
        </header>
        <div class="vertical-nav">
            {{widget('extendednavigation', 'sidenavigationheader', {})|raw}}
        </div>
</div>



<div class="top-nav wrapper clearfix">
    <header>
        <div class="companyheader clearfix">
            {{widget('companyname', 'topcompanyname', {"business": "profile"})|raw}}
             {{widget('content', 'topheadercontent', {"content":"<p>lorem</p>"})|raw}}
        </div>
    </header>
        {{widget('extendednavigation', 'topnavigationheader', {})|raw}}
</div>




<div class="right-content">

    <div class="main wrapper clearfix">

        <div class="feature-slideshow">
             {{widget('responsiveslideshow', 'homepageresponsiveslideshow',
              {'duration':'3',
                'transSpeed': '1000',
                'transType': 'fade',
                'showButtons': false,
                'showBullets': true,
                'allowPause': false,
                'allowLoop': true,
                'showDescription': true,
                'showTitle': true,
                'images':
                  [
                    {'imageHeight':'auto', 'imageWidth':'100%', 'url':asset('/images/gallery/1.jpg'), 'title':'', 'description': ''},
                    {'imageHeight':'auto', 'imageWidth':'100%', 'url':asset('/images/gallery/2.jpg'), 'title':'', 'description': ''},
                    {'imageHeight':'auto', 'imageWidth':'100%', 'url':asset('/images/gallery/3.jpg'), 'title':'', 'description': ''}
                  ]
                })|raw}}
        </div>

            {{zone('main')|raw}}

    </div>  

</div>



<footer>
    <div class="wrapper clearfix">       
            {{widget('profile', 'footercolumn1profileEmail', { 'profileType':'email', 'email':'profile'})|raw}}
    </div>
</footer>


</div>

{% endblock %}
